<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making the Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
	<section class="info">
		<header>
			<h2>Pete Penderpandts</h2>
			<h3>Founder</h3>
		</header>
			<p>
			Donec sed odio dui.  Nulla vitae elit libero, a pharaere augue.  Bibamus sagi jub jub.
			</p>
		
	</section>

	<section class="info">
		<header>
			<h2>Roger Over</h2>
			<h3>Moneyman</h3>
		</header>
		<p>
			In hac habitasse platea dictumst. Sed quis velit. Phasellus imperdiet.
		</p>
	</section>

	<section class="info">
		<header>
			<h2>Skynet</h2>
			<h3>CTO</h2>
		</header>
		<p>
			Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
		</p>
	</section>

<footer>
	Contact us: <span>joebob@tweetful.io</span>
</footer>
